body {
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;
}

nav {
  margin: 2rem 0;
}

.av-player {
  display: inline-flex;
}

.av-controls {
  padding: 1em;
  margin-right: 2em;
}

.error-message {
  color: #8b0000;
  padding: 1rem 0;
}
.player-wrapper {
  margin: 2rem 0;
}

.content-wrapper {
  margin: 2rem 0;
}

/* New Styles */
#iiif-standalone-player-mount {
  display: flex;
}
#iiif-standalone-player-mount > div {
  width: 50%;
}

