header {
  display: flex;
  align-items: flex-end;
  border-bottom: 5px solid $primaryColor;
  margin-bottom: 40px;

  .left {
    margin-right: auto;
  }
}

.avalon-logo {
  max-width: 210px;
  height: auto;
}

.version-title {
  font-weight: normal;
  color: $lightGrey;
  margin-bottom: 20px;

  @media only screen and (max-width: 640px) {
      display: none;
  }
}
